@tailwind base;
@tailwind components;
@tailwind utilities;

$lightGreen: #b9e7e7;
.app {
  display: flex;
  justify-content: center;
  width: 100%;
  .container {
    width: 1024px;
    max-width: 100%;
    padding: 1rem;

    .link {
      text-decoration: none;
      color: inherit;
    }
  }
}
